body{
 margin: 0px;
  padding: 0px;
}

.imglogo{
  border-bottom: 1px solid #FBAF1A;
}
.imglogo img{
  width=150px;
  height:90px;
  max-width:100%;
}

/*------- banner -----*/

#banner {
    position: relative;
    background-color: black;
    height: 80vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    z-index: 0;
  	background-image: url("../img/banner-top.jpg");
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center center;
}

#banner .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.4;
    z-index: 1;
}

.brktext{
	  height:60px;
    border-left: 4px solid #FBAF1A;
}

#crds-section {
  padding: 60px 0 60px 0;
}

.div-shapes{
	position:relative;
	max-width:600px;
	height: auto;
	border: 1px solid rgba(0,0,0,.125);
	margin:100px auto;
	padding:12px;
	boxsizing:border-box;
}

.div-shapes:after{
	position: absolute;
	width:30px;
	height:30px;
	border-top: 0px solid #000 !important;
	border-left: 0px solid #000 !important;
	border: 1px solid rgba(0,0,0,.125);
	top:100%;
	left:75%;
	margin-left:-25;
	content:' ';
	transform: rotate(45deg);
	margin-top:-15px;
	background: #FFF;
}

/*---------wizard and farm section----------*/

.rgwizard-step p {
    margin-top: 10px;
}

.rgwizard-row {
    display: table-row;
}

.rgwizard {
    display: table;
    width: 100%;
    position: relative;
}

.rgwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.rgwizard-row:before {
    top: 12px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 70%;
    height: 8px;
    background-color: #ccc;
    z-order: 0;
    margin-left: 10%;
}
.rgwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}


.wizard-btn{
	    color: #000;
    background-color: #FBAF1A;
    border-color: #FBAF1A;
}


.form-control{
	    border-radius: 1.25rem;
}

.light{
  background-color: #FBAF1A;
}

/*----------- Services Section --------------*/
#services {
  padding: 90px 0 0 0;
  background-color: #313A59;
}

#services .box {
  padding: 40px;
  margin-bottom: 40px;
 /* background: #fff;*/
  transition: 0.4s;
  border: 1px solid #253055;
  border-bottom: 4px solid #253055;
}

#services .box:hover {
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
}

#services .box .icon {
  display: block;
  width: 100%;
  text-align: center;
  padding: 15px;
}

#services .box .icon i {
  color: #444;
  font-size: 50px;
  transition: 0.5s;
  line-height: 0;
  margin-top: 0px;
  margin-bottom: 18px;
}

#services .box .icon i:before {
  background: #253055;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#services .box h4 {
  margin-left: 100px;
  font-weight: 700;
  margin-bottom: 24px;
  font-size: 22px;
  display: block;
  width: 100%;
  text-align: center;
  float: left;
  margin: 0;
}

#services .box h4 a {
  color: #444;
}

#services .box p {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  display: block;
  margin: 0;
  padding-top: 15px;
}

@media (max-width: 767px) {
  #services .box .box {
    margin-bottom: 20px;
  }
  #services .box .icon {
    float: none;
    text-align: center;
    padding-bottom: 15px;
  }
  #services .box h4, #services .box p {
    margin-left: 0;
    text-align: center;
  }
}


/*------------ Banner-2 -----------*/

#banner-2{
  position: relative;
  height:40vh;
	background-image: url("../img/banner.jpg");
	background-repeat: no-repeat;
	/*background-size: cover;
	background-position: center center;*/
	/* padding: 90px 0 0 0;*/
 }

 #banner-2 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.4;
    z-index: 1;
}


/*---------footer----------*/

#footer {
    background: #222222;
    border-top: 4px solid #253055;
    font-size: 0.9em;
    /*margin-top: 50px; */
    padding: 70px 0 0;
    position: relative;
    clear: both;
}


/*--------social media icons -----*/


.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.list-inline>li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width:40px;
    height:40px;
    font-size: 20px;
}


.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.list-inline>li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width:40px;
    height:40px;
    font-size: 20px;
}

.list-inline>li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.list-inline li i {
    margin: 0;
    line-height:40px;
    text-align: center;
}

.list-inline .social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.list-inline a {
	color:#fff;
    background-color:#818182;
}
