body{
 margin: 0px;
  padding: 0px;
}

.imglogo{
  border-bottom: 1px solid #FBAF1A;
}
.imglogo img{
  width=150px;
  height:90px;
  max-width:100%;
}

/*------- banner -----*/

#banner {
    position: relative;
    background-color: black;
    height: 80vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    z-index: 0;
  	background-image: url("../img/banner-top.jpg");
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center center;
}

#banner .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.4;
    z-index: 1;
}

.brktext{
	  height:60px;
    border-left: 4px solid #FBAF1A;
}

#crds-section {
  padding: 60px 0 60px 0;
}

.div-shapes{
	position:relative;
	max-width:600px;
	height: auto;
	border: 1px solid rgba(0,0,0,.125);
	margin:100px auto;
	padding:12px;
	boxsizing:border-box;
}

.div-shapes:after{
	position: absolute;
	width:30px;
	height:30px;
	border-top: 0px solid #000 !important;
	border-left: 0px solid #000 !important;
	border: 1px solid rgba(0,0,0,.125);
	top:100%;
	left:75%;
	margin-left:-25;
	content:' ';
	transform: rotate(45deg);
	margin-top:-15px;
	background: #FFF;
}
